# Dependency & environment files
/vendor/
/node_modules/
/composer.lock
/package-lock.json
/pnpm-lock.yaml
/yarn.lock

# Environment files
.env
.env.*
!.env.example

# PHPUnit cache
.phpunit.cache/
/.phpunit.result.cache

# Storage
storage/
!storage/app/public/
public/storage
public/upload_*
bootstrap/cache/
storage/*.key
storage/pail

# IDE & editor folders
.idea/
.vscode/
.fleet/
.DS_Store
Thumbs.db

# Nova & Zed
.nova/
.zed/

# Misc
Homestead.json
Homestead.yaml
Dockerfile
docker-compose.yml
./docker-compose.yml
docker/
.phpactor.json
